[transport-udp]
type=transport
protocol=udp
bind=192.168.8.132:5060
local_net=192.168.8.0/24
local_net=10.42.0.0/16
local_net=100.64.0.0/10

[transport-tcp]
type=transport
protocol=tcp
bind=192.168.8.132:5060

[100]
type=endpoint
context=from-internal
disallow=all
allow=ulaw,alaw,opus,h264,vp8
auth=auth100
aors=100
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
media_encryption=no
dtmf_mode=rfc4733
timers=no

[auth100]
type=auth
auth_type=userpass
username=100
password=__SIP_100_PASSWORD__

[100]
type=aor
max_contacts=3
remove_existing=yes
qualify_frequency=30
qualify_timeout=5

[200]
type=endpoint
context=from-internal
disallow=all
allow=ulaw,alaw,opus,h264,vp8
auth=auth200
aors=200
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
timers=no

[auth200]
type=auth
auth_type=userpass
username=200
password=__SIP_200_PASSWORD__

[200]
type=aor
max_contacts=1
remove_existing=yes